{{#>admin}}
<div
  id="main-content"
  class="h-full p-10 w-full bg-gray-50 relative overflow-y-auto lg:ml-64"
>
  <div class="flex justify-between">
    <span class="text-xl font-semibold">All Car Reports</span>
    <button
      type="button"
      class="text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
    >
      <a href="/admin/client/store"> Create </a>
    </button>
  </div>
  <div class="w-full overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr
          class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
        >
          <th class="px-4 py-3">Id</th>
          <th class="px-4 py-3">Brand</th>
          <th class="px-4 py-3">Model</th>
          <th class="px-4 py-3">Price</th>
          <th class="px-4 py-3">Year</th>
          <th class="px-4 py-3">Mileage</th>
          <th class="px-4 py-3">Posted by</th>
          <th class="px-4 py-3">Approval Status</th>
          
        </tr>
      </thead>
      <tbody class="bg-white">
        {{#each viewData.reports}}
        <tr class="text-gray-700">
          <td class="px-4 py-3 text-ms border">
            <p class="font-semibold text-black">{{id}}</p>
          </td>
          <td class="px-4 py-3 border">
            <div class="flex items-center text-sm">
              <div>
                <p class="font-semibold text-black">{{make}}</p>
              </div>
            </div>
          </td>
          <td class="px-4 py-3 text-ms font-semibold border">
            {{model}}
          </td>
          <td class="px-4 py-3 text-ms font-semibold border">{{price}}</td>
          <td class="px-4 py-3 text-sm border">{{year}}</td>
          <td class="px-4 py-3 text-xs border">
           
              {{mileage}}
         
          </td>
          <td class="px-4 py-3 text-sm border">{{userID}}</td>
          <td class="px-4 py-3 text-sm border">
            <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm">
                {{approved}}
            </span>  </td>
          <td>
            <form action="/admin/reports/{{id}}" method="POST">
              <button
                type="submit"
                class="text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
              >
                Change
              </button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{/admin}}




        